.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  overflow-y: scroll;
  font-size: 20px;
  width: fit-content;
  max-width: 1200px;
  height: fit-content;
  max-height: 70%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px 20px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  grid-gap: 0px 30px;
  position: relative;
}
.modal-image {
  max-width: 550px;
}

.close {
  font-size: 1.3em;
  position: absolute;
  top: 15px;
  right: 15px;
}
.close:hover {
  cursor: pointer;
  color: lightcoral;
}
.place {
  max-width: 240px;
  max-height: 145px;
  width: fit-content;
  display: grid;
  grid-row-gap: 4px;
}
.place-name {
  height: fit-content;
  max-width: 200px;
  width: fit-content;
  padding: 7px;
  background: lightcoral;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 7px;
}
.cats {
  font-style: italic;
  font-size: 0.8em;
}
.address {
  margin-top: 5px;
  font-size: 32px;
  line-height: 32px;
}
.price {
  margin-top: 5px;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
}

.filtered-list {
  min-height: 420px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px 5px;
}
.btns {
  width: 93%;
  margin: 10px 0px;

  display: flex;
  justify-content: space-between;
}
.cat-btns {
  font-size: 18px;
  background: gray;
  outline: none;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
}
.cat-btns:hover {
  cursor: pointer;
  background: lightcoral;
  color: white;
}
.cat-btns:focus {
  background: lightcoral;
  color: white;
}
.col-2 {
  overflow-y: scroll;
}

/* media queries */

@media screen and (max-width: 1030px) {
  .modal-content {
    font-size: 18px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    justify-content: center;
    width: 80%;
    height: 75%;
  }
}
@media screen and (max-width: 400px) {
  .filtered-list {
    min-height: fit-content;
  }
  .modal-content {
    overflow: scroll;
    font-size: 15px;
  }
  .modal-image {
    max-width: 100%;
  }
  .address {
    line-height: 15px;
    font-size: 15px;
  }
  .price {
    font-size: 15px;
  }
  .cat-btns {
    font-size: 10px;
  }
}
